<!-- Contact section-->
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder">旅の記録</h2>
            <p class="lead mb-0">行った場所や旅の思い出を登録しよう</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <%= form_with model: @record, local: true do |f| %>
                <%# <form id="contactForm" data-sb-form-api-token="API_TOKEN"> %>
                    <%= render 'shared/error_messages', model: f.object %>
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <%= f.text_field :destination, class:"form-control", id:"destination", type:"text", placeholder:"目的地（必須）" %>
                        <%# <input class="form-control" id="destination" type="text" placeholder="旅の目的地..." data-sb-validations="required" /> %>
                        <label for="destination">旅先（必須）</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">旅先を入力してください</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <%= f.text_field :text, class:"form-control", id:"text", type:"text", placeholder:"北海道でスカイダイビング" , style:"height: 10rem"%>
                        <%# <textarea class="form-control" id="text" type="text" placeholder="北海道でスカイダイビング" data-sb-validations="required" style="height: 10rem"></textarea> %>
                        <label for="text">行った場所や旅の思い出（必須）</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">テキストを入力してください</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <%# <input class="form-control" id="prefecture_id" type="number" placeholder="北海道" data-sb-validations="required" /> %>
                        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"form-control"}) %>
                        <label for="prefecture_id">都道府県（必須）</label>
                        <div class="invalid-feedback" data-sb-feedback="prefecture_id:required">都道府県を選択してください</div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <%= f.text_field :city, class:"form-control", id:"city", type:"text", placeholder:"市町村..." %>
                        <%# <input class="form-control" id="city" type="text" placeholder="市町村..."/> %>
                        <label for="city">市町村</label>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <%= f.text_field :start_date, class:"form-control", id:"start_date", type:"date", placeholder:"2023/10/1" %>
                        <%# <input class="form-control" id="start_date" type="date" placeholder="2023/10/1" data-sb-validations="date"/> %>
                        <label for="start_date">開始日</label>
                        <div class="invalid-feedback" data-sb-feedback="date:date">Date is not valid.</div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <%= f.text_field :end_date, class:"form-control", id:"end_date", type:"date", placeholder:"2023/10/7" %>
                        <%# <input class="form-control" id="end_date" type="date" placeholder="2023/10/7" data-sb-validations="date"/> %>
                        <label for="end_date">終了日</label>
                        <div class="invalid-feedback" data-sb-feedback="date:date">Date is not valid.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid">
                            <%= f.submit "Submit", class:"btn btn-primary btn-lg"%>
                      <%# <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button> %>
                    </div>
                <%# </form> %>
              <% end %>
            </div>
        </div>
        
    </div>
</section>
